.field {
	border-left: 10px solid #e6e6e6;
	background-color: white;
	color: white;
}

#commandScreen {
	background-color: #f7f7f7;
	color: black;
}

#optionsScreen {
	background-color: #f0f0f0;
}

#optionsButton {
	background-color: #b0b0b0;
	color: white;
}

#optionsButton.pressed {
	background-color: dimgray;
	color: white;
}

.osEntry {
	background-color: #fdfdfd;
}

.field {
	color: black;
}

.fieldSubContainer {
	border-top: 1px solid lightgray;
}

.transparentOutline {
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3) inset;
}

.animationContainer {
	border-top: 1px solid lightgrey;
}

.animationButton {
	color: black;
}

.animationEditButton {
	color: black;
}

.animationEditContainer div input[type=text] {
	border-bottom: 1px solid black;
}

.slider {
  	background-color: #ededed;
}

.slider::-webkit-slider-thumb {
  background: black;
}

.slider::-moz-range-thumb {
  background: black;
}

.ftRootContent > div {
	border-top: 0.5px solid black;
}

.ftRootSVGWrapper > svg {
	fill: black;
}

.Broitel {
	border-bottom: 0.5px solid black;
}
