body {
	margin: 0px;
	font-family: Georgia;
}

#screen {
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px;
}

#commandContainer {
	position: absolute;
	top:0px;
	left:0px;
	background-color: rgba(0,0,0,0.9);
}

.field {
	padding: 10px;
	margin: 20px;
	margin-top: 20px;
	display: block;
	color: white;
	font-size: 20px;
}

#commandContainer > button {
	padding: 10px;
	margin: 20px;
	border: none;
	display: block;
	border-radius: 20%;
	background-color: lightblue;
	color: black;
	outline: none;
	font-size: 16px;
}

.fieldInput {
	outline: none;
	padding: 10px;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	font-size: 18px;
	color: white;
}

.fieldText {
	margin-top: 10px;
	padding: 5px;
}

.fieldColor {
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.fieldSubContainer {
	display: none;
}
