body {
	font-family: Georgia;
	margin: 0px;
}

#screen {
	position: absolute;
	top: 0px;
	left: 0px;
}

#commandContainer {
	position: absolute;
	top:0px;
	left:0px;
	background-color: rgba(255,255,255,0.9);
	overflow-y: hidden;
}

.field {
	padding: 10px;
	margin-top: 15px;
	margin-left: 10px;
	display: block;
	color: black;
	font-size: 20px;
}

#commandContainer > button {
	padding: 10px;
	margin: 20px;
	border: none;
	display: block;
	border-radius: 20%;
	color: black;
	outline: none;
	font-size: 16px;
}

.fieldInput {
	outline: none;
	padding: 10px;
	border: none;
	border-bottom: 1px solid black;
	background-color: transparent;
	font-size: 20px;
	font-family: Georgia;
	color: black;
}

.fieldText {
	margin-top: 15px;
	font-size: 19px;
	padding: 5px;
}

.fieldColor {
	margin-top: 10px;
	border: 5px solid;
	border-radius: 10px;
	padding: 5px;
	display: block;
	width: 230px;
	transition: border 0.5s;
}

.fieldColorButton {
	display: block;
	float: right;
	font-size: 20px;
	margin-top: auto;
	margin-bottom: 0px;
}

.fieldColorText {
	font-size: 19px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5px;
	display: inline;
}

.animationContainer {
	margin-top: 10px;
	border: 5px solid lightgray;
	border-radius: 10px;
	padding: 10px;
	display: block;
	width: 220px;
}

.animationButton {
	display: block;
	float: right;
	font-size: 21px;
	margin-top: auto;
	color: rgba(0,0,0,0.8);
	margin-bottom: 0px;
}

.animationEditButton {
	display: block;
	float: right;
	font-size: 19px;
	margin-top: auto;
	color: rgba(0,0,0,0.8);
	margin-bottom: 0px;
	margin-right: 12px;
}

.animationText {
	font-size: 19px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 5px;
	display: inline;
}

.fieldSubContainer {
	display: none;
	background-color: rgba(255,255,255,0.4);
}

.sliderContainer {
	padding-top: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 250px;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: auto;
  margin-right: auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.colorPalette {
	width: 230px;
	padding: 5px;
	display: none;
}

.colorOption {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 1px solid lightgray;
}

.animationEditContainer {
	display: none;
	padding: 10px;
}

.animationEditContainer div {
	margin-top: 20px;
	font-size: 17px;
}

.animationEditContainer div input {
	width: 40px;
	border: none;
	margin-left: 5px;
	text-align: center;
	font-family: Arial;
}

.animationEditContainer div input[type=text] {
	outline: none;
	border: none;
	border-bottom: 1px solid black;
}

.animationEditContainer div input[type=range] {
	margin-top: 5px;
	margin-left: 10px;
	width: 70px;
}
